<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <meta name="description" content="a:gender - Supporting all trans and intersex staff across government.">
  </head>
  <body>
    <header class="header">
      <div class="width-container">
        <div class="header-logo">
          <a class="header-logo-link" href="/">
            <span class="header-logo-text">a:gender</span>
            <span>Supporting all trans and intersex staff across government.</span>
          </a>
        </div>
      </div>
      <div class="width-container">
        <nav id="navMenu">
          {% assign navPages = collections.all | eleventyNavigation %}
          <ul>
          {%- for entry in navPages %}
            <li{% if entry.url == page.url %} class="navigation-active"{% endif %}>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <div class="width-container">
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="footer" role="contentinfo">
      <div class="width-container">
        <div class="grid-row">
          <div class="grid-column-one-third">
            <h2>a:gender</h2>
          </div>
          <div class="grid-column-one-third" id="footerMenu">
            <h2>Useful links</h2>
            <ul>
              <li>
                <a href="/join-us" title="Join a:gender as a member">
                  Become a member
                </a>
              </li>
              <li>
                <a href="/contact-us" title="Get our contact details">
                  Contact us
                </a>
              </li>
              <!--<li>
                <a href="/team" title="Find out about our team">
                  Our team
                </a>
              </li>-->
              <li>
                <a href="/privacy-notice" title="Read our data and privacy policy">
                  Privacy Notice
                </a>
              </li>
              <li>
                <a href="/archives" title="View archived news posts">
                  Archived posts
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p>Website created by <a href="https://www.engiqueer.net" title="Visit Joe Robert's website (Opens in new window)" target="_blank" rel="noopener noreferrer">Joe Roberts</a>.</p>
          <p>All content is released under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="Read more about the Open Government License. (Opens in new window)" target="_blank">Open Government License</a> unless otherwise stated. You can adapt and share our work, but please attribute it to us. 😊</p>
          <p>Inspired by and adapted from the <a href="https://www.civilservice.lgbt/">Civil Service LGBT+ website</a>, with lots of love.</p>
          <p>This website is being actively developed. Follow along or contribute at <a href="https://github.com/two-first-names/agender.org.uk">https://github.com/two-first-names/agender.org.uk</a></p>
      </div>
    </footer>
  </body>
</html>
