<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/all.css">
  </head>
  <body>
    <div class="warning-header">
      <div class="width-container">
        <span class="warning-text">
          Welcome to the new a:gender website, we are still under construction.
          The old website is available on the
          <a href="https://web.archive.org/web/20240622083823/https://www.agender.org.uk/">
            Internet Archive.
          </a>
        </span>
      </div>
    </div>
    <header class="header">
      <div class="header--container width-container">
        <div class="header--logo">
          <a class="header--logotype--link" href="/">
            <span class="header--logotype--text">a:gender</span>
            <span>Supporting all trans and intersex staff across government.</span>
          </a>
        </div>
      </div>
      <div class="header--container width-container">
        <div class="header--content">
          <nav id="navMenu">
            {% assign navPages = collections.all | eleventyNavigation %}
            <ul class="header--navigation">
            {%- for entry in navPages %}
              <li class="header--navigation-item {% if entry.url == page.url %}header--navigation-item--active{% endif %}">
                <a class="header--link" href="{{ entry.url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="width-container">
      <main>
        {{ content }}
      </main>
    </div>
    <footer class="footer" role="contentinfo">
      <div class="width-container">
        <div class="grid-row">
          <div class="grid-column-one-third">
            <h2 class="footer--wordmark">a:gender</h2>
          </div>
          <div class="grid-column-one-third">
            <h2 class="footer--heading">Useful links</h2>
            <ul class="footer--list">
              <li class="footer--list-item">
                <a class="footer--link" href="/join-us" title="Join a:gender as a member">
                  Become a member
                </a>
              </li>
              <li class="footer--list-item">
                <a class="footer--link" href="/contact-us" title="Get our contact details">
                  Contact us
                </a>
              </li>
              <li class="footer--list-item">
                <a class="footer--link" href="/team" title="Find out about our team">
                  Our team
                </a>
              </li>
              <li class="footer--list-item">
                <a class="footer--link" href="/privacy-notice" title="Read our data and privacy policy">
                  Your data
                </a>
              </li>
              <li class="footer--list-item">
                <a class="footer--link" href="/archives" title="View archived news posts">
                  Archived posts
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-column-one-third">
            <h2 class="footer--heading">Social media</h2>
            ADD LATER
          </div>
        </div>
        <hr class="footer--section-break">
        <div class="footer--meta">
          <div class="footer--meta-item">
            <p>Website created by <a href="https://www.engiqueer.net" title="Visit Joe Robert's website (Opens in new window)" target="_blank" rel="noopener noreferrer">Joe Roberts</a>.</p>
          </div>
          <div class="footer--meta-item">
            <p>All content is released under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" title="Read more about the Open Government License. (Opens in new window)" target="_blank">Open Government License</a> unless otherwise stated. You can adapt and share our work, but please attribute it to us. 😊</p>
          </div>
          <div class="footer--meta-item">
            <p>Inspired by and adapted from the <a href="https://www.civilservice.lgbt/">Civil Service LGBT+ website</a>, with lots of love.</p>
          </div>
          <div class="footer--meta-item">
            <p>This website is being actively developed. Follow along or contribute at <a href="https://github.com/two-first-names/agender.org.uk">https://github.com/two-first-names/agender.org.uk</a></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
