{% extends 'base.njk' %}
{% block content %}
<div class="grid-row">
  <header class="page--header page--header--loop">
    <div class="grid-column-full">
      <h1 class="page--heading">{{ title }}</h1>
    </div>
  </header>
</div>
{{ content | safe }}
{% endblock %}