$link-underline-thickness: unquote("max(1px, .0625rem)") !default;
$link-underline-offset: .1em !default;
$link-hover-underline-thickness: unquote("max(3px, .1875rem, .12em)") !default;


/// Common link styles

@mixin link-common {
  @include typography-common;
  @include link-decoration;

  &:hover {
    @include link-hover-decoration;
  }

  &:focus {
    @include focused-text;
  }
}

/// Link decoration

@mixin link-decoration {
  text-decoration: underline;
  text-decoration-thickness: $link-underline-thickness;
  text-underline-offset: $link-underline-offset;
}

/// Link hover decoration

@mixin link-hover-decoration {
 text-decoration-thickness: $link-hover-underline-thickness;
}

/// Default link styles

@mixin link-style-default {
  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color--visited;
  }

  &:hover {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--active;
  }

  // When focussed, the text color needs to be darker to ensure that color
  // contrast is still acceptable
  &:focus {
    color: $link-color--focus;
  }

}

/// Text link styles

@mixin link-style-text {
  &:link,
  &:visited {
    color: $text-color;
  }

  &:active,
  &:focus {
    color: $text-color;
  }
}

/// Inverse link styles

@mixin link-style-inverse {
  &:link,
  &:visited {
    color: $link-color--inverse;
  }

  &:focus {
    color: $link-color--focus;
  }

}

/// Default link styles, without a visited state

@mixin link-style-no-visited-state {
  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color--hover;
  }

  &:active {
    color: $link-color--active;
  }

  // When focussed, the text color needs to be darker to ensure that color
  // contrast is still acceptable
  &:focus {
    color: $link-color--focus;
  }
}

/// Remove underline from links

@mixin link-style-no-underline {
  &:not(:hover):not(:active) {
    text-decoration: none;
  }
}

/// Include link destination when printing the page

@mixin link-print-friendly {
  @include media-query($media-type: print) {
    &[href^="/"],
    &[href^="http://"],
    &[href^="https://"] {
      &:after {
        content: " (" attr(href) ")";
        font-size: 90%;

        // Because the URLs may be very long, ensure that they may be broken
        // at arbitrary points if there are no otherwise acceptable break
        // points in the line
        word-wrap: break-word;
      }
    }
  }
}



/// Focused text

@mixin focused-text {
  // When colors are overridden, for example when users have a dark mode,
  // backgrounds and box-shadows disappear, so we need to ensure there's a
  // transparent outline which will be set to a visible color.

  box-sizing: border-box;
  color: $link-color--focus;
  background-color: $link-background--focus;
  background: $link-background--focus;
  outline: 3px solid $link-background--focus;
  // When link is focussed, hide the default underline since the
  // box shadow adds the "underline"
  text-decoration: none;
}