/// Width of main container
$page-width: 1020px !default;

/// Map of grid column widths
$grid-widths: (
    one-quarter: 25%,
    one-third: 33.3333%,
    one-half: 50%,
    two-thirds: 66.6666%,
    three-quarters: 75%,
    full: 100%
) !default;

/// Width of gutter between grid columns
$gutter: 30px !default;

/// Width of half the gutter between grid columns
$gutter-half: $gutter * 0.5;

$breakpoints: (
    mobile:  320px,
    tablet:  641px,
    desktop: 769px
) !default;

// =========================================================
// Colors
// =========================================================

$colors: (

    "white":                #ffffff,
    "light-gray":           #DEE0E2,
    "gray":                 #BFC1C3,
    "dark-gray":            #6F777B,
    "black":                #0B0C0C,

// =========================================================
// Brand colors
// ---------------------------------------------------------
// colors ending in "--accessible" meet the minimum
// required contrast ratio to adhere to WCAG AA or AAA
// accessibility standards
// =========================================================

    "blue":                 #2f3590,
    "magenta":              #e6007e,
    "magenta--accessible":  #AD005F,
    "magenta--light":       #fff6fa,
    "red":                  #E30613,
    "yellow":               #FFED00,
    "yellow--accessible":   #817800,
    "green":                #00853E,
    "cyan":                 #009FE3,
    "cyan--accessible":     #007EB4,
    "purple":               #312783,

    "twitter-brand":        #1da1f2,
    "facebook-brand":       #3b5998,
    "instagram-brand":      #e4405f,
    "youtube-brand":        #FF0000

);

// Page colors
$html--background-color: color("magenta--light");
$body--background-color: color("white");

// Header and footer colors
$header--background-color: #861C86;
$header--logotype-color: color("white");
$header--text-color: color("black");
$header--nav-item-border-color: color("gray");
$header--link-active: color("cyan");
$header--button--text-color: color("white");
$header--button--background: color("magenta--accessible");

$footer--background-color: color("magenta--light");
$footer--text-color: color("black");
$footer--border-color: #861C86;
$footer--link-color: color("black");
$footer--link-color--visited: color("gray");
$footer--link-color--hover: color("cyan");
$footer--link-color--focus: color("black");
$footer--link-background--focus: color("yellow");
$footer--link-color--active: color("cyan");

$toolbar--background-color: color("magenta--light");

// Text colors
$text-color: color("black");
$secondary-text-color: color("dark-gray");

// Link colors
$link-color: color("cyan--accessible");
$link-color--inverse: color("white");
$link-color--visited: color("purple");
$link-color--hover: color("blue");
$link-color--focus: color("black");
$link-background--focus: color("yellow");
$link-color--active: color("cyan");

$focus-background-color: color("yellow");
$focus-text-color: color("black");

// Other colors
$border-color: color("light-gray");

// =========================================================
// Button colors
// =========================================================

$button-color: color("magenta--accessible");
$button-hover-color: darken($button-color, 10%);
$button-shadow-color: darken($button-color, 50%);
$button-text-color: color("white");

// Secondary button variables
$secondary-button-color: color("light-gray");
$secondary-button-hover-color: darken($secondary-button-color, 10%);
$secondary-button-shadow-color: darken($secondary-button-color, 40%);
$secondary-button-text-color: color("black");

// Warning button variables
$warning-button-color: color("red");
$warning-button-hover-color: darken($warning-button-color, 20%);
$warning-button-shadow-color: darken($warning-button-color, 60%);
$warning-button-text-color: color("white");

// Action button variables
$action-button-color: color("green");
$action-button-hover-color: darken($action-button-color, 10%);
$action-button-shadow-color: darken($action-button-color, 50%);
$action-button-text-color: color("white");

// =========================================================
// Input colors
// =========================================================

$input-border-color: color("black");
$input-error-color: color("red");
$input-focus-color: color("yellow");

// Checkboxes
$checkboxes-button--color: color("magenta");
$checkboxes-color--hover: color("white");
$checkboxes-color--focus: color("yellow");

// Radios
$radios-button--color: color("magenta");
$radios-color--hover: color("white");
$radios-color--focus: color("yellow");

// =========================================================
// Breadcrumb colors
// =========================================================

// color of chevron
$chevron-border-color: $secondary-text-color;

// =========================================================
// Font families
// =========================================================

$font-family:        "Helvetica Neue", "Helvetica", Arial, sans-serif !default;
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:              $font-family !default;

// =========================================================
// Font weights
// =========================================================

$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;


// =========================================================
// Font sizes
// =========================================================

$root-font-size: 16px !default;
$typography-scale: (
    home-heading: (
		null: (
			font-size: 35px,
			line-height: 38px
		),
		tablet: (
			font-size: 80px,
			line-height: 85px
		),
		desktop: (
			font-size: 100px,
			line-height: 110px
		),
		print: (
			font-size: 53pt,
			line-height: 1.1
		)
	),
  96: (
        null: (
            font-size: 36px,
            line-height: 42px
        ),
        tablet: (
            font-size: 88px,
            line-height: 88px
        ),
        print: (
            font-size: 60pt,
            line-height: 1.1
        )
    ),
	80: (
        null: (
            font-size: 43px,
            line-height: 45px
        ),
        tablet: (
            font-size: 80px,
            line-height: 80px
        ),
        print: (
            font-size: 53pt,
            line-height: 1.1
        )
    ),
    60: (
        null: (
            font-size: 36px,
            line-height: 38px
        ),
        tablet: (
            font-size: 60px,
            line-height: 65px
        ),
        print: (
            font-size: 36pt,
            line-height: 1.15
        )
    ),
    48: (
        null: (
            font-size: 32px,
            line-height: 35px
        ),
        tablet: (
            font-size: 48px,
            line-height: 52px
        ),
        print: (
            font-size: 32pt,
            line-height: 1.15
        )
    ),
    36: (
        null: (
            font-size: 24px,
            line-height: 25px
        ),
        tablet: (
            font-size: 36px,
            line-height: 40px
        ),
        print: (
            font-size: 24pt,
            line-height: 1.05
        )
    ),
    32: (
        null: (
            font-size: 20px,
            line-height: 22px
        ),
        tablet: (
            font-size: 32px,
            line-height: 40px
        ),
        print: (
            font-size: 32pt,
            line-height: 1.15
        )
    ),
    27: (
        null: (
            font-size: 18px,
            line-height: 20px
        ),
        tablet: (
            font-size: 27px,
            line-height: 30px
        ),
        print: (
            font-size: 18pt,
            line-height: 1.15
        )
    ),
    24: (
        null: (
            font-size: 18px,
            line-height: 20px
        ),
        tablet: (
            font-size: 24px,
            line-height: 30px
        ),
        print: (
            font-size: 18pt,
            line-height: 1.15
        )
    ),
    19: (
        null: (
            font-size: 16px,
            line-height: 20px
        ),
        tablet: (
            font-size: 19px,
            line-height: 25px
        ),
        print: (
            font-size: 14pt,
            line-height: 1.15
        )
    ),
    16: (
        null: (
            font-size: 14px,
            line-height: 16px
        ),
        tablet: (
            font-size: 16px,
            line-height: 20px
        ),
        print: (
            font-size: 14pt,
            line-height: 1.2
        )
    ),
    14: (
        null: (
            font-size: 12px,
            line-height: 15px
        ),
        tablet: (
            font-size: 14px,
            line-height: 20px
        ),
        print: (
            font-size: 12pt,
            line-height: 1.2
        )
    )
) !default;




// =========================================================
// Single point spacing
// For use with spacing(x)
// =========================================================

$spacing-points: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 40px,
  8: 50px,
  9: 60px,
  10: 70px
) !default;

/// Responsive spacing maps
///
/// These definitions are used to generate responsive spacing that adapts according to the breakpoints (see 'helpers/spacing'). These maps should be used wherever possible to standardise responsive spacing.
///
/// You can define different behaviour on tablet and desktop. The 'null' breakpoint is for mobile.
///
/// Access responsive spacing with `responsive-margin` or
/// `responsive-padding`.
///
/// @type Map
/// @access private

$spacing-responsive-scale: (
  0: (
    null: 0,
    tablet: 0
  ),
  1: (
    null: 5px,
    tablet: 5px
  ),
  2: (
    null: 10px,
    tablet: 10px
  ),
  3: (
    null: 15px,
    tablet: 15px
  ),
  4: (
    null: 15px,
    tablet: 20px
  ),
  5: (
    null: 15px,
    tablet: 25px
  ),
  6: (
    null: 20px,
    tablet: 30px
  ),
  7: (
    null: 25px,
    tablet: 40px
  ),
  8: (
    null: 30px,
    tablet: 50px
  ),
  9: (
    null: 40px,
    tablet: 60px
  ),
  10: (
    null: 50px,
    tablet: 70px
  )
) !default;

// =========================================================
// Borders
// =========================================================

/// Header link underlines
$header-link-underline-thickness: 3px;

/// Standard border width
$border-width: 5px !default;

/// Wide border width
$border-width-wide: 10px !default;

/// Narrow border width
$border-width-narrow: 4px !default;

/// Form control border width
$border-width-form-element: 2px !default;

/// Form control border width when in error state
$border-width-form-element-error: 3px !default;

/// Form group border width when in error state
$border-width-form-group-error: 0 !default;

/// Border width of focus outline
$focus-width: 3px !default;

/// Hover width for form controls with a hover state
$hover-width: 10px !default;

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s2).
$button-shadow-size: $border-width-form-element;

// =========================================================
// General inputs
// =========================================================

$touch-target-size:                 44px;
$input-size:                       40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-padding:                     5px;

// =========================================================
// Checkboxes
// =========================================================

$touch-target-size: 44px;
$checkboxes-size: 40px;
$small-checkboxes-size: 24px;
$checkboxes--input-offset: ($touch-target-size - $checkboxes-size) * 0.5;


// =========================================================
// Radios
// =========================================================

$radios-size: 40px;
$small-radios-size: 24px;
$radios-label-padding-left-right: spacing(3);
// When the default focus width is used on a curved edge it looks visually smaller.
// So for the circular radios we bump the default to make it look visually consistent.
$radios-focus-width: $focus-width + 1px;
$radios--input-offset: ($touch-target-size - $radios-size) * 0.5;

// =========================================================
// Breadcrumbs
// =========================================================

// Size of chevron (excluding border)
$chevron-size: 7px;

// Size of chevron border
$chevron-border-width: 1px;

// Calculated altitude (△↕) of the right-angled isosceles chevron with sides
// of length 8 (7px + 1px border):
//
// √(8² + 8²) * 0.5 ≅ 5.655
$chevron-altitude-calculated: 5.655px;